#app-mount {
	.tooltip_c36707 {
		color: var(--text-normal);
		text-align: center;
		font-weight: 600;
	}
	.tooltipPrimary_c36707 {
		background: var(--gradient);
		.tooltipPointer_c36707 {
			display: none;
		}
	}
}
