#app-mount .guilds__5e434 {
	// This is disabled for now as the background is transparent by default so the coloring actually looks nice by default
	// [class*='expandedFolderBackground'] {
	// 	background: var(--foreground);
	// }
	// [class*='folder'] {
	// 	background: transparent;
	// }
}
